@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .markdown > h1 {
    @apply font-medium font-sans text-xl mb-2 mr-2 text-dark-text dark:text-gray-2;
  }
  .markdown > h2 {
    @apply font-normal font-sans text-base mb-2 mr-2 text-dark-text dark:text-gray-2;
  }
  .markdown > ul {
    @apply font-light font-sans text-sm ml-5 my-2 text-dark-text list-disc dark:text-gray-2;
  }
  .markdown > ol {
    @apply font-light font-sans text-sm ml-5 my-2 text-dark-text list-decimal dark:text-gray-2;
  }

  .markdown > p {
    @apply font-normal font-sans text-sm mt-2 mb-2 mr-2 text-dark-text dark:text-gray-2;
  }

  .markdown > blockquote {
    @apply border-l-8 bg-sidebar-gray py-3 pl-2 border-blue-1 text-dark-text font-normal text-base italic dark:text-gray-2 dark:bg-input-bg-dm;
  }
  .markdown > hr {
    @apply border-l-2 border-dark-text dark:text-gray-2 dark:border-gray-2;
  }
  .markdown > pre {
    @apply bg-sidebar-gray text-sm px-3 py-2 whitespace-pre-wrap text-dark-text dark:text-gray-2 dark:bg-input-bg-dm;
  }
  .markdown > p > code {
    @apply bg-sidebar-gray text-sm italic px-2 py-1 whitespace-pre-wrap text-dark-text dark:text-gray-2 dark:bg-input-bg-dm;
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.Profile-Stat-Card {
  @apply flex flex-col basis-1/5 items-center bg-white border border-blue-1 rounded-lg p-3 m-2 shadow-md dark:bg-sidebar-bg;
}

.Profile-Stat-Subtext {
  @apply text-xs text-center text-gray-500 dark:text-gray-1;
}

.Profile-Stat-Stat {
  @apply mb-1 text-2xl font-medium text-dark-text dark:text-gray-1;
}
